.navbar-custom {
    background-color: transparent;
    color: #c9c9c9;
}
.navbar-brand {
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ranchers', cursive; */
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Boogaloo', cursive; */
    color: white;
    font-size: 50px;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}
