.list-overflow-container {
  max-height: Auto;
  border-radius: 4px;
}

.list-overflow-container ul {
  margin: 10;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
.list-group-item{
  margin: 5%;
}